/* 例: App.css */
.generate-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.download-button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.change-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* App.css */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

header {
  text-align: center;
}

.logo {
  text-align: center;
  margin: 20px 0;
}

.logo img {
  width: 50px; /* 画像のサイズに合わせて調整 */
  margin-right: 10px;
}

.app-title {
  font-size: 2.5em;
  color: #333; /* 任意の色に変更してください */
}

.app-description {
  font-size: 1.2em;
  color: #666; /* 任意の色に変更してください */
  margin-top: 10px;
}